.clip-path-circle__container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.clip-path-circle__container-text {
  font-size: 156px;
  color: white;
  animation-name: moveText;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.clip-path-circle__circle {
  background-color: yellow;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden; */
  clip-path: circle(200px at 50% 50%);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
} 

.clip-path-circle__circle-text {
  color: black;
  font-size: 156px;
  animation-name: moveText;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes moveText {
  0%, 100% {
    transform: translate(-50%, 0)
  }

  50% {
    transform: translate(50%, 0)
  }
}