.custom-scrollbar__article {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #8ecccc;
}

.custom-scrollbar__title {
  margin: 53.120px 0 20px 0;
  font-size: 48px;
  color: white;
}

.custom-scrollbar__content {
  font-size: 24px;
  color: white;
}

.custom-scrollbar__article::-webkit-scrollbar {
  width: 20px;
}

.custom-scrollbar__article::-webkit-scrollbar-track {
  background-color: #e2eff1;
}

.custom-scrollbar__article::-webkit-scrollbar-thumb {
  background-color: #42476d;
  border-radius: 10px;
}

.custom-scrollbar__article::-webkit-scrollbar-thumb:hover {
  background-color: #5454c5;
}
